<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Data Generator</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>Test Data Generator</h1>
    <form id="test-data-form">
        <fieldset>
            <legend>Select a script:</legend>
            <input type="radio" id="finance" name="script" value="Finance" required>
            <label for="finance">Finance</label><br>
            <input type="radio" id="personal_data" name="script" value="PersonalData">
            <label for="personal_data">Personal Data</label><br>
            <input type="radio" id="phi" name="script" value="PHI">
            <label for="phi">PHI</label><br>
            <input type="radio" id="pii_us" name="script" value="PII_US">
            <label for="pii_us">PII_US</label>
        </fieldset>
        <br>
        <label for="num_files">Number of files:</label>
        <input type="range" id="num_files" name="num_files" min="1" max="5000" value="1" oninput="updateNumFilesLabel(this.value)">
        <span id="num_files_label">1</span>
        <br><br>
        <button type="submit">Generate Test Data</button>
    </form>
</body>
</html>